body {
    background: rgb(165, 154, 154);
    background-image: url('../imagens/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: underline;
    color: yellow;
}

strong {
    text-decoration: underline;
    color: yellow;
}

#textos {
    background-image: url('../imagens/fundodiv.jpg');
    background-size: 100%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    align-items: center;
    font: normal 15pt Arial;
    color: rgb(177, 177, 32);
    line-height: 100px;
    text-align: center;
    text-shadow: 3px 3px 5px red;
}

#textos h1:hover {
    box-shadow: 0px 0px 20px yellow;
    border-radius: 15px;
    transition: 0.5s;
}

#txtFlash {
    display: none;
}

#txtFlashLuta {
    display: none;
}

#txtViloes {
    display: none;
}

.container {
    display: none;
    width: 100%;
    height: 100%;
}

.container figure img:hover {
    box-shadow: 0px 0px 20px red;
    border-radius: 30px;
    transition: 0.5s;
}

.imagens img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
}

#btnSaibaMais {
    background-image: url('../imagens/fundodiv.jpg');
    color: yellow;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 5px 5px 8px red;
    display: block;
    font-size: 25px;
    border-radius: 25px;
}

#btnProx {
    background-image: url('../imagens/fundodiv.jpg');
    color: yellow;
    padding: 10px 20px;
    text-align: right;
    text-shadow: 5px 5px 8px red;
    display: block;
    font-size: 25px;
    border-radius: 25px;    
}

#btnVoltar {
    background-image: url('../imagens/fundodiv.jpg');
    color: yellow;
    padding: 10px 20px;
    text-align: left;
    text-shadow: 5px 5px 8px red;
    display: block;
    font-size: 25px;
    border-radius: 25px;
}
#divBotaoProx {
    display: none;
    float: right;
}

#divBotaoVoltar {
    display: none;
    float: left;
}

#divBotaoSaibaMais {
    display: block;
}
