/* Conteúdo do Corpo. */

body {
    background: rgb(165, 154, 154);
    background-image: url('../imagens/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transition: 2s;
    }
  
    to {
      opacity: 1;
      transition: 2s;
    }
  }

a {
    text-decoration: underline;
    color: yellow;
}

strong {
    text-decoration: underline;
    color: yellow;
}

/* Área de Títulos. */

#titulos {
    background-image: url('../imagens/fundodiv.jpg');
    background-size: 100%;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    align-items: center;
    font: normal 10pt Arial;
    color: rgb(177, 177, 32);
    line-height: 50px;
    text-align: center;
    text-shadow: 3px 3px 5px red;
}

#titulos h1:hover {
    box-shadow: 0px 0px 20px yellow;
    border-radius: 15px;
    transition: 0.5s;
}

/* Área de Container. */

#container {
    width: 100%;
    height: 100%;
}

/* Área de Imagens. */

#imagens img {
    width: 100%;
    height: 100%;
    animation-duration: 1s;
    animation-name: fadeIn;
    border-radius: 30px;
}

/* Área de Botões. */

#botoes {
    padding-top: 20px;
}

#botoes div button {
    background-image: url('../imagens/fundodiv.jpg');
    color: yellow;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 5px 5px 8px red;
    font-size: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

#divBotaoProx {
    float: right;
}

#divBotaoVoltar {
    float: left;
}

/* Área de Textos das Paginas. */

#textos {
    animation-duration: 2s;
    animation-name: fadeIn;
    background-image: url('../imagens/fundodiv.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    font: 15px arial;
    width: 100%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 1px;
}

#textos p {
    color: yellow;
    text-align: justify;
    text-indent: 30px;
    margin: 10px 10px 10px 10px;
}