/* Conteúdo do Corpo. */

* {
	margin:0;
	padding:0;
	font-family:'Arial';
}

body {
    background: rgb(165, 154, 154);
    background-image: url('../imagens/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
        text-decoration: none;
        color: yellow;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transition: 2s;
    }
  
    to {
      opacity: 1;
      transition: 2s;
    }
}

strong {
    text-decoration: underline;
    color: yellow;
}

.cabecalho {
    position: sticky;
    top: 0;
}

.cabecalho div {
    width: 100%;
    height: 40px;
    margin-top: -10px;
    background-image: url('../imagens/fundodiv.jpg');
}

/* Área de Títulos. */

#titulos {
    margin-top: 15px;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    background-image: url('../imagens/fundodiv.jpg');
    background-size: 100%;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    align-items: center;
    font: normal 10pt Arial;
    color: rgb(177, 177, 32);
    line-height: 50px;
    text-align: center;
    text-shadow: 3px 3px 5px red;
}

#titulos h1:hover {
    box-shadow: 0px 0px 20px yellow;
    border-radius: 15px;
    transition: 0.5s;
}

/* Área de Container. */

.interface {
    width: 80%;
    margin: 0px auto 0px auto;
}

#container {
    width: 80%;
    height: 80%;
    margin: auto;
}

/* Área de Imagens. */

#imagens img {
    width: 100%;
    height: 100%;
    animation-duration: 2s;
    animation-name: fadeIn;
    border-radius: 30px;
}

/* Área de Botões. */

#botoes {
    padding-top: 20px;
}

#botoes div button {
    background-image: url('../imagens/fundodiv.jpg');
    color: yellow;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 25px;
}

#divBotaoProx {
    float: right;
}

#divBotaoVoltar {
    float: left;
}

/* Área de Textos das Paginas. */

#textos {
    animation-duration: 2s;
    animation-name: fadeIn;
    background-image: url('../imagens/fundodiv.jpg');
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    font: 15px arial;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 1px;
}

#textos p {
    color: yellow;
    text-align: justify;
    text-indent: 30px;
    margin: 10px 10px 10px 10px;
}

/* Formatação do Menu. */
	
.menu{
	width:100%;
	height:50px;
    background-color: rgb(88, 1, 1);
}
	
.menu > ul {
	list-style:none;	
	position:relative;
	margin-left:50px;
}

.menu ul li {
	float:left;
    padding: 15px;
    background-color: rgb(88, 1, 1);
    color: yellow;
    text-align: center;
    text-transform: uppercase;
}

.menu a {
	display:block;
	text-decoration: none;
	background-color: rgb(88, 1, 1);
	text-align:center;
}

.menu ul ul {
	list-style:none;
	position:absolute;
	visibility:hidden;
}

.menu ul li:hover ul {
	visibility:visible;
}
	
.menu a:hover {
    text-decoration: underline;
}

.menu ul li ul li {
    border-radius: 20px;
}

.menu ul ul li {
	float:none;
}

.menu ul ul li a {
	background-color: rgb(88, 1, 1);
}

#bt_menu{
	display: none;
}

label[for='bt_menu'] {
	padding:5px;
	background-color: rgb(88, 1, 1);
	color: yellow;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
}

label[for='bt_menu']:hover {
	background-color: rgb(88, 1, 1);
	color: yellow;
}

/* Formatação do Menu Responsivo */

@media (max-width: 800px) {
    #titulos {
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    #textos {
        width: 100%;
        height: 100%;
    }

    .menu{
        margin-left:-110%;
        transition:all .4s;
    }

    label[for='bt_menu']{
        display:block;
    }

    .menu > ul{
        margin-left:0;
   }

    .menu{
        margin-top:-60px;
    }

    .menu ul li{
        width:100%;
        float:none;
    }

    .menu ul ul{
        position:static;
        overflow:hidden;
        max-height:0;
        transition:all .4s;
    }
        
    .menu ul li:hover ul{
        height:auto;
        max-height:200px;
        transition:all .4s;
    }

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
}